- var Company__Name_short = "ООО «УПК-МП»"
- var Company__Name_full = "Общество с ограниченной ответственностью «Управленческая Компания Многоотраслевая Первая»"
- var Company__Email = "inbox@upkmp.ru"
- var Company__Phone = "+74952042976"
- var Company__Phone_formated = "(495) 204-29-76"
- var Company__Site = "http://upkmp.ru"
- var Company__Street = "Бутлерова"
- var Company__City = "Москва"
- var Company__Country = "Россия"
- var Company__Index = "117342"
- var Company__Latitude = "55.641577"
- var Company__Longitude = "37.548899"
- var Company__OGRN = "1167746836234"
- var Company__INN = "1167746836234"
- var Company__KPP = "772801001"

doctype html
html(prefix="og: http://ogp.me/ns#")
    head
        title= Company__Name_short
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        meta(name="format-detection", content="telephone=no")
        meta(http-equiv="x-rim-auto-match", content="none")

        meta(property="place:location:latitude", content=Company__Latitude)
        meta(property="place:location:longitude", content=Company__Longitude)
        meta(property="business:contact_data:street_address", content=Company__Street)
        meta(property="business:contact_data:locality", content=Company__City)
        meta(property="business:contact_data:postal_code", content=Company__Index)
        meta(property="business:contact_data:country_name", content=Company__Country)
        meta(property="business:contact_data:email", content=Company__Email)
        meta(property="business:contact_data:phone_number", content=Company__Phone)
        meta(property="business:contact_data:website", content=Company__Site)

        meta(property="og:title", content="Уборка воздушных судов, помещений, территорий, вывоз мусора")
        meta(property="og:description", content="Общество с ограниченной ответственностью «Управленческая Компания Многоотраслевая Первая»")
        link(rel="image_src", href="http://upkmp.ru/index_og.jpg")
        meta(property="og:image", content="http://upkmp.ru/index_og.jpg")
        meta(property="og:image:width", content="512")
        meta(property="og:image:height", content="512")
        meta(property="og:type", content="article")
        meta(property="og:url", content="http://upkmp.ru")

        link(href="index.css", rel="stylesheet", type="text/css", media="screen")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300&subset=cyrillic,cyrillic-ext,latin-ext", rel="stylesheet", type="text/css")

    body
        header.Header
            img.Header__Logo(src="Header__Logo.svg", onerror="this.onerror=null;this.src='Header__Logo.png'" alt= Company__Name_short)
            .Header__Contacts
                a.Header__Phone(href="tel:" + Company__Phone)= Company__Phone_formated
                    wbr
                a.Header__Email(href="mailto:" + Company__Email)= Company__Email
                    wbr

        .Section.Section_aircraft
            h1 — Уборка воздушных судов
        .Section.Section_office
            h2 — Уборка помещений
        .Section.Section_territory
            h2 — Уборка территорий
        .Section.Section_garbage
            h2 — Вывоз мусора

        footer.Footer= Company__Name_full + ", ОГРН " + Company__OGRN + ", ИНН " + Company__INN + ", КПП " + Company__KPP
